.deck-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 10rem);
  gap: 1.5rem;
  padding: 2rem;
}

@media screen and (max-width: 1024px) {
  .deck-container {
    grid-template-columns: repeat(auto-fill, 7.5rem);
    gap: 1.5rem;
    padding: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .deck-container {
    grid-template-columns: repeat(auto-fill, 5rem);
    gap: 1rem;
    padding: 1rem;
  }
}
