$primary-color: #218acc;

#home {
  width: 100%;

  .above-the-fold {
    width: 100%;
    height: 42em;
    background-color: $primary-color;
    display: flex;
    align-items: center;
    justify-content: center;

    .atf-center {

      h1 {
        font-size: 6rem;
        color: white;
        font-family: Poppins, sans-serif;
        font-weight: 600;
        margin: 1rem 0;
      }

      article {
        font-size: 2rem;
        color: white;
        font-family: Poppins, sans-serif;
        font-weight: 600;
      }
    }
  }

  .deck-database {
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-color;
    font-family: Poppins, "sans-serif";
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;

    .left,
    .right {
      display: flex;
      align-items: center;
      padding: 3rem;
    }

    .left {
      flex-grow: 65%;
      justify-content: center;
    }

    .right {
      justify-content: left;
      flex-basis: 35%;
      padding-left: 0;
    }
  }

  .text-content {
    h2 {
      font-size: 4rem;
    }

    p {
      font-size: 1.8rem;
      line-height: 2.5rem;
    }
  }
}

@media screen and (max-width: 1024px) {
  #home {
    .above-the-fold {
      height: 30rem;

      .atf-center {
        h1 {
          font-size: 4rem;
        }

        article {
          font-size: 1.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  #home {
    .above-the-fold {
      height: 25rem;

      .atf-center {
        h1 {
          font-size: 2rem;
        }

        article {
          font-size: 1rem;
        }
      }
    }
  }
}
