#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: space-around;
  border-bottom: 1px solid rgba(0,0,0,0.08);
  box-sizing: border-box;
  font-weight: 500;
  background-color: #218ACC;
  color: #FFF;
  z-index: 999;
}

#nav-bar .title-button .link {
  font-family: Poppins, sans-serif;
  font-size: 1.55rem;
}

#nav-bar .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  flex: 1;
}

#nav-bar .link:link, #nav-bar .link:visited {
  font-family: Roboto, sans-serif;
  color: #FFF;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
}

#nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav-bar li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  text-decoration: none;
  text-align: center;
  flex: 1 0 auto;
  box-sizing: border-box;
  white-space: nowrap;
}

#nav-bar .menu-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem 1rem calc(1rem - 3px) 1rem;
  text-decoration: none;
  transition: .15s ease-in-out all;
  box-sizing: border-box;
}

#nav-bar .link:hover {
  border-color: #FFF;
}

#nav-bar .left, #nav-bar .right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
}

#nav-bar .left {
  margin-right: auto;
  text-align: right;
}

#nav-bar .right {
  margin-left: auto;
  text-align: left;
}

#nav-bar .search-container {
  width: 20rem;
  position: relative;
}

#nav-bar .search-parent {
  padding: .5rem;
  width: 100%;
}

#nav-bar input[type=text].search {
  background-color: rgba(0, 0, 0, 0.1);
  border: 0;
  padding: .75rem 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #FFF;
  outline: none;
  margin: 0;
  box-sizing: border-box;
  border-radius: 2px;
}

#nav-bar input[type=text].search::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.4);
}

#nav-bar input[type=text].search::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.4);
}

#nav-bar input[type=text].search:-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(0, 0, 0, 0.4);
}

#nav-bar input[type=text].search:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 0, 0, 0.4);
}

#nav-bar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#nav-bar #dropdown {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  background-color: #1A6FA3;
  width: 100%;
}

#nav-bar #dropdown a {
  color: white;
  width: 100%;
}

#nav-bar #dropdown li {
  text-align: left;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 3px;
  padding: 0;
}

#nav-bar ul.mobile {
  display: none;
}

@media screen and (max-width: 1024px) {
  #nav-bar ul.left, #nav-bar ul.right {
    display: none;
  }
  #nav-bar ul.mobile {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
    width: 100%;
  }
  #nav-bar .title-button {

  }
  #nav-bar .search-icon, #nav-bar .menu-icon {
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
    width: 3.3rem;
    cursor: pointer;
    box-sizing: border-box;
    transition: .15s ease-in-out all;
  }

  #nav-bar .search-icon:hover, #nav-bar .menu-icon:hover {
    border-top: 3px solid rgba(0,0,0,0);
    border-bottom: 3px solid #fff;
  }
}
