/* ========================  Font Faces  ==================================== */
/* ========================  Media Queries  ================================= */
/* =======================  General Section  ================================ */
* {
  font-size: 16px;
  font-family: 'roboto', sans-serif;
}

html {
  overflow-y: scroll;
}

html, body {
  margin: 0px;
}

.columnHolder {
  overflow: hidden;
}

.borderTop {
  border-top: #218ACC solid 5px;
  padding-top: 15px;
}

.borderBottom {
  border-bottom: #218ACC solid 5px;
  padding-bottom: 15px;
}

.print {
  display: none;
}

.background {
  padding-top: 2rem;
  margin: 5.5rem auto 0 auto;
  width: 90%;
  max-width: 1024px;
}

body {
  background-color: #fff;
  width: 100%;
  font-family: Arial, Georgia, sans-serif;
  line-height: 1.3em;
  color: black;
  overflow: auto;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  line-height: 1em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: .6em;
}

h6 {
  font-size: .5em;
}

h1, h2, h3, h4, h5, h6 {
  color: #218ACC;
  font-weight: bold;
  font-family: Poppins, sans-serif;
}

a:link {
  color: #218ACC;
}

a:visited {
  color: #fff;
}

.skinny {
  max-width: 1024px;
  margin: 0px auto;
}

.skinny h4 {
  float: right;
  margin: 0px;
}

.skinny h4 a {
  padding: 7px 12px;
  border: #218ACC 2px solid;
  background-color: #218ACC;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.skinny h4 a:hover {
  color: #218ACC;
  background-color: white;
}

.skinny a {
  text-decoration: none;
}
